<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% if message %}
        <h3>{{message}}</h3>
        {% endif %}
        <input type="text" name="username" id="name">
        <input type="password" name="password" id="pass">
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>