<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buying</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <form action="" method="get">
                <input type="text" name="searchbox" id="searchbox" placeholder="search for products, brands and more">
                <input type="submit" name="submit" id="submit">
            </form>
            <div class="seller">
                <a href="">become a seller</a>
            </div>
            <div class="more">
                <span>more</span>
            </div>
            <div class="cart">
                <a href="">cart</a>
            </div>
        </div>
        <div class="middle">
            <div class="leftbox">

            </div>
            <div class="rightbox">

            </div>
        </div>
    </div>
</body>
</html>